<h1>All Destinations:</h1>

<ol>
@foreach (Destination destinaion in Model)
{
    <ul>
        <li>ID: @destinaion.DestinationId</li>
        <li>Name: @destinaion.City</li>
        <li>Species: @destinaion.Country</li>
        <li>Age: @destinaion.Rating</li>
    </ul>
    <a href="/Destinations/Details/@(destinaion.DestinationId)"><p>View Details</p></a>
    <br>
}
</ol>
